# https://pypi.org/
fastapi==0.112.2          # FastAPI framework for building APIs
uvicorn[standard]==0.30.6 # ASGI server for FastAPI
spacy==3.7.6              # NLP processing library
pydantic==2.8.2           # Data validation and settings management using Python type annotations
SQLAlchemy==2.0.32        # SQL toolkit and Object-Relational Mapping (ORM)
alembic==1.13.2           # Database migrations tool for SQLAlchemy
httpx==0.27.2             # HTTP client for making requests to external services
python-jose==3.3.0        # JWT token handling for authentication
loguru==0.7.2             # Logging library for easier logging setup
pytest==8.3.2             # Testing framework for running unit and integration tests
pytest-asyncio==0.24.0    # Pytest plugin for testing asyncio code
